html {
    background-color: #000;
    font-family: monospace;
    filter: saturate(151%);
}

header {
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pentagram {
    0% {color: #610b0b}
    50% {color: #ca1717}
    100% {color: #610b0b}
}

header a,
#pentagram {
    font-size: 3.5px;
    text-decoration: none;
    animation: pentagram 13s ease-in-out 0s infinite;
}

header a:hover {
    filter: brightness(131%);
}

main {
    height: 555px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@keyframes summon {
    0% {background-color: #ca1717; background-position: 90% 50%}
    50% {background-color: #f31a1a; background-position: 90% 100%}
    100% {background-color: #ca1717; background-position: 90% 50%}
}

#summon {
    font-size: 3px;
    background: url("i/flames.png");
    background-size: cover;
    border-radius: 6px;
    animation: summon 13s ease-in-out 0s infinite;
}

#summon:hover {
    color: #fc0000;
    filter: brightness(113%);
    cursor: pointer;
}

#pentagram {
    font-size: 11px;
    margin-bottom: 13px;
}

#generator {
    transition: all 1.9s linear 0.1s;
}

#invisible {
    display: none;
}

@keyframes hover {
    0% {position: relative; top: 11px;}
    50% {position: relative; top: 0px;}
    100% {position: relative; top: 11px;}
}

@keyframes evil {
    0% {position: relative; top: -11px; left: 0px; transform: rotate(0deg); font-size: 6px;}
    12.5% {position: relative; top: 66px; left: -166px; transform: rotate(-45deg); font-size: 7px;}
    25% {position: relative; top: 132px; left: 0px; transform: rotate(0deg); font-size: 8px;}
    37.5% {position: relative; top: 166px; left: 166px; transform: rotate(45deg); font-size: 9px;}
    50% {position: relative; top: 199px; left: 0px; transform: rotate(0deg); font-size: 10px;}
    62.5% {position: relative; top: -11px; left: 0px; transform: rotate(0deg); font-size: 6px;}
    75% {position: relative; top: 0px; left: 0px; transform: rotate(0deg); font-size: 6px;}
    87.5% {position: relative; top: -11px; left: 0px; transform: rotate(0deg); font-size: 6px;}
    100% {position: relative; top: 0px; left: 0px; transform: rotate(0deg); font-size: 6px;}
}

@keyframes skeleton {
    0% {position: relative; top: 0px; font-size: 2px;}
    50% {position: relative; top: 266px; font-size: 7px;}
    100% {position: relative; top: 0px; font-size: 2px;}
}

@keyframes imp {
    0% {position: relative; top: 11px; left: 0px; transform: rotateY(180deg); font-size: 7px;}
    12.5% {position: relative; top: 66px; left: 166px; transform: rotateY(180deg); font-size: 8px;}
    25% {position: relative; top: 132px; left: 0px; transform: rotateY(0deg); font-size: 9px;}
    37.5% {position: relative; top: 166px; left: -166px; transform: rotateY(0deg); font-size: 10px;}
    50% {position: relative; top: 199px; left: 0px; transform: rotateY(180deg); font-size: 11px;}
    62.5% {position: relative; top: 0px; left: 0px; transform: rotateY(180deg); font-size: 7px;}
    75% {position: relative; top: 11px; left: 0px; transform: rotateY(180deg); font-size: 7px;}
    87.5% {position: relative; top: 0px; left: 0px; transform: rotateY(180deg); font-size: 7px;}
    100% {position: relative; top: 11px; left: 0px; transform: rotateY(180deg); font-size: 7px;}
}

@keyframes baphomet {
    0% {position: relative; top: 199px; transform: rotateX(180deg);}
    100% {position: relative; top: 11px; transform: rotateX(0deg);}
}

@keyframes dragon {
    0% {position: relative; top: 33px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    12.5% {position: relative; top: 66px; left: -166px; transform: rotateY(0deg); font-size: 7px;}
    25% {position: relative; top: 132px; left: 0px; transform: rotateY(180deg); font-size: 8px;}
    37.5% {position: relative; top: 166px; left: 166px; transform: rotateY(180deg); font-size: 9px;}
    50% {position: relative; top: 199px; left: 0px; transform: rotateY(0deg); font-size: 10px;}
    62.5% {position: relative; top: 33px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    75% {position: relative; top: 44px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    87.5% {position: relative; top: 33px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    100% {position: relative; top: 44px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
}

@keyframes warrior {
    0% {position: relative; top: 222px;}
    50% {position: relative; top: 144px;}
    100% {position: relative; top: 222px;}
}

@keyframes beheader {
    0% {position: relative; top: 277px;}
    50% {position: relative; top: 266px;}
    100% {position: relative; top: 277px;}
}

@keyframes paranoia {
    0% {position: relative; top: 101px; color:#ca1717;}
    25% {position: relative; top: 106px; color:#ee82ee;}
    50% {position: relative; top: 112px; color:#008000;}
    75% {position: relative; top: 116px; color:#ee82ee;}
    100% {position: relative; top: 101px; color:#ca1717;}
}

@keyframes burning-skull {
    0% {position: relative; top: 33px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    12.5% {position: relative; top: 66px; left: 166px; transform: rotateY(0deg); font-size: 7px;}
    25% {position: relative; top: 132px; left: 0px; transform: rotateY(180deg); font-size: 8px;}
    37.5% {position: relative; top: 166px; left: -166px; transform: rotateY(180deg); font-size: 9px;}
    50% {position: relative; top: 199px; left: 0px; transform: rotateY(0deg); font-size: 10px;}
    62.5% {position: relative; top: 33px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    75% {position: relative; top: 44px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    87.5% {position: relative; top: 33px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
    100% {position: relative; top: 44px; left: 0px; transform: rotateY(0deg); font-size: 6px;}
}

@keyframes zombie {
    0% {position: relative; top: 177px;}
    50% {position: relative; top: 166px;}
    100% {position: relative; top: 177px;}
}

@keyframes fat {
    0% {position: relative; top: 366px; font-size: 8px;}
    50% {position: relative; top: 366px; font-size: 8.4px;}
    100% {position: relative; top: 366px; font-size: 8px;}
}

@keyframes eat {
    0% {position: relative; top: 366px; font-size: 7.5px;}
    50% {position: relative; top: 366px; font-size: 7.6px;}
    100% {position: relative; top: 366px; font-size: 7.5px;}
}

@keyframes brains {
    0% {position: relative; top: 200px; font-size: 6px;}
    50% {position: relative; top: 0px; font-size: 2px;}
    100% {position: relative; top: 200px; font-size: 6px;}
}

@keyframes jigsaw {
    0% {position: relative; top: 0px; font-size: 2px;}
    50% {position: relative; top: 200px; font-size: 5px;}
    100% {position: relative; top: 0px; font-size: 2px;}
}

@keyframes ghost {
    0% {position: relative; top: 99px; font-size: 2px;}
    100% {position: relative; top: 255px; font-size: 15px;}
}

@keyframes hidden {
    0% {position: relative; top: 177px; transform: rotateX(180deg);}
    100% {position: relative; top: 177px; transform: rotateX(0deg);}
}

@keyframes witches-brew {
    0% {position: relative; top: 199px;}
    50% {position: relative; top: 188px;}
    100% {position: relative; top: 199px;}
}

@keyframes shadow {
    0% {position: relative; top: 0px; font-size: 1px;}
    50% {position: relative; top: 255px; font-size: 5px;}
    100% {position: relative; top: 0px; font-size: 1px;}
}
